################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VB .NET/Hyper Terminal/.vs/Hyper Terminal
/VB .NET/Hyper Terminal/Hyper Terminal/bin/
/VB .NET/Hyper Terminal/Hyper Terminal/obj/
/VB .NET/Simulation of Stellar Objects/.vs/
/VB .NET/Simulation of Stellar Objects/Stellar Object Simulation/bin
/VB .NET/Simulation of Stellar Objects/Stellar Object Simulation/obj
/VB .NET/TS Client Map Adder/.vs/TS Client Map Adder/v17/.suo
*.vsidx