#status{
	font-family: Segoe UI;
	font-size: 18px;
}

#status.error{
	color: red;
}

#status.success{
	color: green;
}

#tempLabel{
	float: left;
	font-family: Segoe UI;
	font-size: 18px;
	color: black;
}

#tempVal{
	margin-top: -5px;
    padding: 5px;
	float: left;
	font-family: Segoe UI;
	font-size: 18px;
	color: black;
}

#sp{
	float: left;
	margin-top: -2px;
	font-family: Segoe UI;
	color: black;
}

#celcius{
	float: left;
	margin-top: 0px;
	display: inline !important;
	font-family: Segoe UI;
	font-size: 18px;
	color: black;
}