<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TS_Client_Map_Adder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TS_Client_Map_Adder.My.MySettings>
            <setting name="mapFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="iniPath" serializeAs="String">
                <value />
            </setting>
            <setting name="exePath" serializeAs="String">
                <value />
            </setting>
        </TS_Client_Map_Adder.My.MySettings>
    </userSettings>
</configuration>